<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>856935708750-3718dnvm8md7pdq33rhpgp7a3elcoiqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856935708750-3718dnvm8md7pdq33rhpgp7a3elcoiqm</string>
	<key>API_KEY</key>
	<string>AIzaSyD7ekoBp2btfZi3mTvnid-7RxibeZ-FMEM</string>
	<key>GCM_SENDER_ID</key>
	<string>856935708750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeschool.JSQChat</string>
	<key>PROJECT_ID</key>
	<string>jsqchatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>jsqchatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856935708750:ios:eaa631fed9a9fbd8</string>
	<key>DATABASE_URL</key>
	<string>https://jsqchatapp.firebaseio.com</string>
</dict>
</plist>